$font-stack: 'Poppins';
$time--color: #FFFFFF;
$nav--items: #666666;
$main-color:  #222222;
$calendar__view: #0278ED;
$lists: #FF5437;
$varied: #FF9209;
$split-screen: #E738CE;
$upload--color: #00C6DF;
$focus--color: #B25DF8;
$percentage--background: #FF5437;
$required--input: #FFEEEE;
$input--border: 2px solid #5AB0FF;